ansible==2.3.3.0 
BeautifulSoup==3.2.1
beautifulsoup4==4.6.3
celery==3.1.20 
celery-with-redis==3.0
Django==1.11.7 
django-celery==3.2.2
django-contrib-comments==1.9.0
django-storages==1.6.5
djangorestframework==3.5.3
djangorestframework-jwt==1.11.0 
fabric==2.4.0
Flask==1.0.2
Flask-Moment==0.6.0
Flask-QRcode==2.0.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2 
gevent==1.3.6
html5lib==1.0.1
ipython==5.8.0
MySQL-python==1.2.5
mysql-replication==0.18
mysqlclient==1.3.13 
redis==2.10.6 
